.product-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, 400px); /* fixed row height */
  grid-gap: 20px;
}

.filters {
  width: 30%;
}
.img {
  width: 50%;
  height: auto;
  max-height: 300px;
  margin-right: 20px;
  object-fit: contain;
}

.details-container {
  width: 50%;
}
.product-page {
  width: 70%;
}

@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
  }
  .product-card {
    width: 50%;
  }

  .image-container {
    width: 30%;
    margin-bottom: 20px;
  }
  
  .details-container {
    width: 100%;
  }
  .filters, .product-page {
    width: 100%;
  }
}
.product-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.filters {
  width: 30%;
}

.product-page {
  width: 70%;
}






